@model IEnumerable<AtomConfiguratorModel.Models.DimBuilding>

@{
    ViewBag.Title = "Index";
}

<div class="form-crud list-large">
<h2>Buildings</h2>

    <p >
        @Html.ActionLink("Create New", "Create")
        <a style="color:#00ff21" href="@Url.Action("Create")">
            <i class="glyphicon glyphicon-plus"></i>
            <span class="sr-only">Create</span>
        </a>

        @using (Html.BeginForm())
        {
        
            @Html.TextBox("SearchString", "", new { placeholder = "Search Building Name", value = "Enter Keyword", style = " border: 3px solid #ccc; border-radius: 25px; padding-left: 1em; font-color:#ccc" }) <br /><br />
            <input id="search" class="btn btn-success" type="submit" value="Filter" />
            <input id="reset" type="button" class="btn btn-primary " value="Reset" onclick="location.href='@Url.Action("Index")'" />
        }


    </p>

<table class="table table-hover table-bordered table-condensed" style="border-radius:5px">
    <tr id="heading">
        <th>
             @Html.DisplayNameFor(model => model.BuildingName)     
            
            <a style="float: right; " href="@Url.Action("Index", new { sortOrder = "" })">
                <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                <span class="sr-only">Ascending</span>
           </a>
          
            <a style="float: right;" href="@Url.Action("Index", new { sortOrder = "Building_Desc" })">
                <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                <span class="sr-only">Descending</span>
            </a>
            

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DimFacility.SiteName) 
            
            <a style="float: right; " href="@Url.Action("Index", new { sortOrder = "Facility" })">
                <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                <span class="sr-only">Ascending</span>
            </a>

            <a style="float: right;" href="@Url.Action("Index", new { sortOrder = "Facility_Desc" })">
                <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                <span class="sr-only">Descending</span>
            </a>
        </th>
            <th>
                Functions
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimFacility.SiteName)
                
            </td>
            <td style="font-size:12px">

                <a href="@Url.Action("Edit", new { id = item.id })">
                    <i style="color:black" class="glyphicon glyphicon-pencil"></i>
                    Edit
                    <span class="sr-only">Edit</span>
                </a>

                |
                <a href="@Url.Action("Details", new { id = item.id })">
                    <i style="color:black" class="glyphicon glyphicon-fullscreen"></i>
                    Details
                    <span class="sr-only">Details</span>


                </a>|
                <a href="@Url.Action("Delete", new { id = item.id })">
                    <i style="color:black" class="glyphicon glyphicon-trash"></i>
                    Delete
                    <span class="sr-only">Delete</span>
                </a>

                </td>
        </tr>
    }

    </table>
    </div>

