@model IEnumerable<AtomConfiguratorModel.Models.DimFinancialCompany>

@{
    ViewBag.Title = "Index";
}

<div class="form-crud list-small">
    <h2>List of Financial Companies</h2>

    <p>
        @Html.ActionLink("Create New", "Create")

        @using (Html.BeginForm())
        {

            @Html.TextBox("SearchString") <br /><br />
            <input class="btn btn-success" type="submit" value="Filter" />

        }

    </p>
    <table class="table table table-hover table-bordered table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FinancialCompanyName)
            </th>
            <th>
                Functions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FinancialCompanyName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>