@model AtomConfiguratorModel.Models.DimPhysicalStation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DimPhysicalStation</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.StationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StationName)
                @Html.ValidationMessageFor(model => model.StationName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HostAlias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HostAlias)
                @Html.ValidationMessageFor(model => model.HostAlias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CPUMegaHertz, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPUMegaHertz)
                @Html.ValidationMessageFor(model => model.CPUMegaHertz)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemorySize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemorySize)
                @Html.ValidationMessageFor(model => model.MemorySize)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeyStationType, "KeyStationType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KeyStationType", String.Empty)
                @Html.ValidationMessageFor(model => model.KeyStationType)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
