@model IEnumerable<AtomConfiguratorModel.Models.DimPhysicalStation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostAlias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPUMegaHertz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemorySize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DimStationType.StationTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostAlias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPUMegaHertz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemorySize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DimStationType.StationTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
