@model AtomConfiguratorModel.Models.FFSite

    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active" style="color:black">Site Selection</li>
            <li style="color:black">Building Selection</li>
            <li style="color:black">Module Selection</li>
            <li style="color:black">FlexFlow Instance Selection</li>
            <li style="color:black">Station Bucket Selection</li>
           
        </ul>
        <!-- fieldsets -->
        <div >
            <fieldset style="margin:0 10%">

                <h2>Select your site</h2>
                @Html.ValidationSummary(true)

                <div class="form-control-static" style="align-self:center">
                    @Html.DropDownListFor(model => model.ListRegions, new SelectList(ViewBag.KeyRegion), "Select a Region", new { id = "RegionID" })
                    @Html.ValidationMessageFor(model => model.ListRegions)
                </div>

                <div id="CountriesDivID" class="form-control-static" style="align-self:center">
                    <select id="CountriesID">Select a Country</select>
                    @Html.ValidationMessageFor(model => model.ListCountries)
                </div>

                <div id="FacilitiesDivID" class="form-control-static" style="align-self:center">
                    <select id="FacilitiesID">Select a Site</select>
                    @Html.ValidationMessageFor(model => model.ListFacilities)
                </div>

                <input id="Next-ToBuildingSelection" type="button" name="next" class="next action-button" value="Next" />

            </fieldset>

            <fieldset style="margin:0 10%">
                <h3>Buildings</h3>


                <table id="buildingsresultset" class="table table-bordered responsive simple_with_animation" style="border-radius:15px;">
                    <tr>
                        <th>
                            &nbsp; &nbsp; &nbsp; Building
                        </th>
                    </tr>
                </table>


                <!--<div class="col-md-12" id="BuildingsDivID" style="align-self:center ">
                <select id="BuildingsID" name="Buildings"></select>
                @Html.ValidationMessageFor(model => model.ListBuildings)
                </div>-->
                <div id="bigblue" class="modal"><!-- Place at bottom of page --></div>

                <input id="PreviousButton" type="button" name="previous" class="previous action-button" value="Previous" style="background-color: #217dbb">

                <input id="EditBuildingButton" type="button" name="edit" class="action-button" value="Edit" style="background-color: #ffa617">

                <input id="DeleteBuildingButton" type="button" name="delete" class="action-button" value="Delete" style="background-color: #d62c1a">

                <input id="Next-ToModuleSelection" type="button" name="next" class="next action-button" value="Next" />

            </fieldset>

            <fieldset style="margin:0 10%">

                <h3>Modules</h3>

                <table id="modulesresultset" class="table table-bordered responsive" style="border-radius:15px;">
                    <tr>
                        <th>
                            &nbsp; &nbsp; &nbsp; Module
                        </th>
                    </tr>
                </table>


       
        @Html.ValidationMessageFor(model => model.ListModules)
    

                <div id="wait" class="modal"><!-- Place at bottom of page --></div>

                <input id="PreviousButton" type="button" name="previous" class="previous action-button" value="Previous" style="background-color: #217dbb">

                <input id="EditModuleButton" type="button" name="edit" class="action-button" value="Edit" style="background-color: #ffa617">

                <input id="DeleteModuleButton" type="button" name="delete" class="action-button" value="Delete" style="background-color: #d62c1a">

                <input id="Next-ToFFSelection" type="button" name="next" class="next action-button" value="Next" />

            </fieldset>

            <fieldset style="margin:0 10%">

                <h3>FlexFlow Instances</h3>

                <p>
                    @Html.ActionLink("Create New", "Create")
                    <a style="color:#00ff21" href="@Url.Action("Create")">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span class="sr-only">Create</span>
                    </a>
                </p>

                <table id="ffinstancesresultset" class="table table-bordered responsive" style="border-radius:15px;">
                    <tr>
                        <th>
                            &nbsp; &nbsp; &nbsp; FFInstance
                        </th>
                    </tr>
                </table>


                @Html.ValidationMessageFor(model => model.ListFFInstances)
             

                <div id="wait" class="modal"><!-- Place at bottom of page --></div>

                <input id="PreviousButton" type="button" name="previous" class="previous action-button" value="Previous" style="background-color: #217dbb">

                <input id="EditFFButton" type="button" name="edit" class="action-button" value="Edit" style="background-color: #ffa617">

                <input id="DeleteFFButton" type="button" name="delete" class="action-button" value="Delete" style="background-color: #d62c1a">

                <input id="Next-ToBucketSelection" type="button" name="next" class="next action-button" value="Next" />

           </fieldset>

            <fieldset style="margin:0 10%">

                <h3>Station Bucket</h3>

                <div class="form-control-static" style="align-self:center">
                    <select id="BucketsDropDown">Select a Bucket Type</select>
                </div>

                <div style="width:50%; display:block; float:left">
                    <h4>Available Station Types</h4>
                    <ol id="stationtypesresultset" class="simple_with_animation" style="height:200px; display:block; border:dotted; overflow-y:scroll; "></ol>
                </div>
                <div style="width:50%; display:block; float:right">
                    <h4>Assign to Bucket</h4>
                    <ol id="bucketypesresultset" class="simple_with_animation" style="height:200px; display:block; border:dotted; overflow-y:scroll;" ></ol>
                </div>
                </br>
                <!--<table id="stationtypesresultset" class="table table-bordered responsive" style="border-radius:15px;">
                    <tr>
                        <th>
                            &nbsp; &nbsp; &nbsp; Define Bucket
                        </th>
                    </tr>
                </table>-->
                    <!--<div class="col-md-12" id="ModulesDivID" style="align-self:center ">
        <select id="ModulesID" name="Modules"></select>
        @Html.ValidationMessageFor(model => model.ListStationTypes)
        </div>-->
                </br> </br> </br>
                </br> </br> </br>
                    <div id="wait" class="modal"><!-- Place at bottom of page --></div>

                    <input id="PreviousButton" type="button" name="previous" class="previous action-button" value="Previous" style="background-color: #217dbb">

                    <input id="Finish" type="button" name="next" class="next action-button" value="Finish" />


    </fieldset>

        </div>
    </form>

  

