@model IEnumerable<AtomConfiguratorModel.Models.DimFFInstance>

@{
    ViewBag.Title = "Index";
}

<div id="ffinstance" class="form-crud" style="width:200% ;height:100%;">
    <div style="float:left; margin-left:25%">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <a id="previous-column" href="#">Previous</a>
        <a id="next-column" href="#">Next</a>
      
    </div>
    <div>
        <div class="column">
            @Html.DisplayNameFor(model => model.DataSourceName)
        </div>        
        <div class="column">
            @Html.DisplayNameFor(model => model.DataSourceName)
        </div>   
        <div class="column">
            @Html.DisplayNameFor(model => model.HostName)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.DatabaseName)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.UserName)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.Password)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.ProjectName)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.DataFilePrefix)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.ReplicationDelayMinute)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.IsActive)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.ITContactName)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.ITPhone)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.ITEmail)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.QAContactName)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.QAPhone)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.QAEmail)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.SiteName)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.BaanCoNo)
        </div>  
        <div class="column">
            @Html.DisplayNameFor(model => model.DimModule.ModuleName)
        </div>  
                                                                            

        @foreach (var item in Model)
        {
        <div class="row">
        @Html.DisplayFor(modelItem => item.DataSourceName)
        </div>
    <div class="row">
        @Html.DisplayFor(modelItem => item.HostName)
    </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.DatabaseName)
         </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.UserName)
        </div>
       <div class="row">
        @Html.DisplayFor(modelItem => item.Password)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.ProjectName)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.DataFilePrefix)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.ReplicationDelayMinute)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.IsActive)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.ITContactName)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.ITPhone)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.ITEmail)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.QAContactName)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.QAPhone)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.QAEmail)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.SiteName)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.BaanCoNo)
        </div>
        <div class="row">
        @Html.DisplayFor(modelItem => item.DimModule.ModuleName)
        </div>
        <div class="row">
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </div>
        }
     </div>
</div>