@model IEnumerable<AtomConfiguratorModel.Models.DimBusinessPartner>

@{
    ViewBag.Title = "Index";
}

<div class="form-crud list-large">
    <h2>Business Partners</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table table-hover table-bordered table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPartnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPCode)
            </th>
            <th>
                Functions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessPartnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>