@model IEnumerable<AtomConfiguratorModel.Models.DimBuilding>

@{
    ViewBag.Title = "Index";
}

<div class="form-crud">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimFacility.SiteName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DimFacility.SiteName)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
                </td>
            </tr>
        }

    </table>
 </div>