@model IEnumerable<AtomConfiguratorModel.Models.MetricConfiguration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Goal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Red)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Green)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alert_MasterDataChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alert_SystemErrors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricManagerValidationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricOwnerValidationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DimBusinessPartner.BusinessPartnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DimFacility.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DimFFInstance.DataSourceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metric.MetricName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricRoleType.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Goal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Red)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Green)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alert_MasterDataChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alert_SystemErrors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetricManagerValidationStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetricOwnerValidationStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetricManager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetricOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DimBusinessPartner.BusinessPartnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DimFacility.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DimFFInstance.DataSourceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metric.MetricName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetricRoleType.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
